$primary: #3f3630;
$background: #f6f1dc;
$backgroundItem: rgba(198, 198, 198, 0.15);
$borderGray: #c4c4c4;

// text
$textBlack: hsl(0, 0%, 0%);
$textGray: #b7b7b7;
$textWhite: #ffffff;

// dark mode
$backgroundDark: #111e27;
$backgroundItemDark:#1f2d36;

// responsive design
$phone: 480px;
$tablets: 768px;
$laptops: 1024px;
$desktop: 1200px;
$desktoplong: 1440px;

// radius
$borderRadius: 10px;
$borderRadiusCircle: 50%;